/* Navbar Layout */
.navbar {
  background-color: #E8D8C4;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #dcdcdc;
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: 2rem;              /* spacing between logo and links */
}

/* Logo Style */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;  /* makes it circular */
  object-fit: cover;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 1000;          /* Bold text */
  font-size: 1.4rem;         /* Slightly larger */

}

.nav-links li a:hover {
  color: #7B4E3F;
}


/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
    margin-left: 600px;
}

.dropbtn {
  background-color: transparent; /* transparent bg so logo stands out */
  padding: 0; /* remove padding so logo fits nicely */
  border: none;
  align-items: center;
  gap: 10rem;


}
.dropbtn:hover {
  color: inherit; /* remove text color change on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 800;          /* Bold text */
  font-size: 1.2rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logo-img {
  height: 30px; /* adjust height as needed */
  width: auto;
  display: block;
}

