<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeezy Coffee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/bean.png') }}">
</head>
<body>

  <!-- Navbar with Logo -->
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/landingpage" class="logo-link">
        <img src="{{ url_for('static', filename='assets/yeezycoffee.png') }}" alt="Yeezy Coffee Logo" class="logo">
      </a>
      <ul class="nav-links">
        <li><a href="/landingpage">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

  <!-- Dropdown menu -->
  <div class="dropdown">
    <button class="dropbtn">
      <img src="{{ url_for('static', filename='assets/menu-icon.png') }}" alt="Logo" class="logo-img">
    </button>
    <div class="dropdown-content">
      <a href="/join">Join now</a>
      <a href="/signin">Sign in</a>
      <a href="/aboutus">About us</a>
      <a href="/careers">Careers</a>
    </div>
</div>

    </div>
 </nav>


  <main>

  </main>

</body>
</html>
